@model IEnumerable<UI.Cadastro.Models.PessoaViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container-fluid">
    <h1>Listagem de Pessoas</h1>
</section>

<section class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="box-shadow">
                <div class="card-header">
                    
                    <a class="btn btn-info" asp-controller="Pessoa" asp-action="Create">Criar nova pessoa</a>

                </div>
                
                <div class="container-fluid table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <td>CÓDIGO</td>
                            <td>NOME</td>
                            <td>DT NASCIMENTO</td>
                            <td>CPF</td>
                            <td>SEXO</td>
                            <td>AÇÃO</td>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(mdeloItem => item.id)</td>
                                <td>@Html.DisplayFor(mdeloItem => item.Nome)</td>
                                <td>@String.Format("{0:dd/MM/yyyy}", item.Nascimento) </td>
                                <td>@Html.DisplayFor(mdeloItem => item.Cpf)</td>
                                <td>@Html.DisplayFor(mdeloItem => item.Sexo)</td>
                                <td>
                                    <a class="btn" id="@item.id" onclick="ChamaModal(this.id)">Detalhe</a> |
                                    <a asp-area="" asp-controller="Pessoa" asp-action="Edit" asp-route-id="@item.id">Editar</a> |
                                    <a class="btn" onclick="DeletarUsandoAjax('@item.id')">Deletar</a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table> 
                </div>

            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Detalhe</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="corpo" class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</section>




    <script type="text/javascript">


        function ChamaModal(id) {

            //alert("aqui");
            $("#corpo").load("/Pessoa/Details/" + id,
                function() {
                    //alert("Dentro");
                    $("#exampleModal").modal('show');
                });

        }


        function DeletarUsandoAjax(id) {
            var ret = confirm("Você realmente deseja apagar esta pessoa definitivamente?");

            if (ret == true) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete", "Pessoa")',
                    data: {
                        id: id
                    },
                    error: function(result) {
                        alert(result);
                    },
                    success: function(result) {
                        if (result == true) {
                            window.location.reload();
                        } else {
                            alert("Erro inesperado");
                        }
                    }
                });
            }
        }

    </script>
